.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.25em;
  background-color: #ccc;
  color: var(--off-white);
  font-weight: 600;
}

.cardImage {
  height: 5rem;
  width: 5rem;
}
.cardName {
  text-align: center;
}
.cardDescription {
  padding: 0 1rem;
}
.cardActions {
  display: flex;
  justify-content: space-evenly;
}

.cardImage img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
