.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  width: 100%;
}
@media (max-width: 468px) {
  .content {
    justify-items: center;
  }
  .form-control {
    margin: 0.25rem !important;
    width: 100%;
  }
}

.form-control {
  margin: 0.75rem 0;
}

.form-control label,
.form-control input,
.form-control textarea,
.form-control select {
  display: inline-block;
}

.form-control label {
  font-weight: 600;
  color: var(--p-navy);
  display: block;
  text-align: left;
  font-size: 1rem;
}

.form-control input,
.form-control select,
.form-control textarea,
.form-control option {
  margin-top: 0.5rem;
  width: 100%;
  font: inherit;
  border: none;
  box-shadow: 0 0 2px 0.5px var(--warning);
  border-radius: 0.5rem;
  background: var(--off-white);
  padding: 0.4rem 0.8rem;
  color: var(--p-dark);
  font-size: 1rem;
  font-weight: 600;
}

.form-control input::placeholder,
.form-control textarea::placeholder {
  color: var(-dark);
  font-size: 1rem;
  font-weight: 400;
}

.form-control input:focus,
.form-control textarea:focus,
.form-control select:focus,
option {
  outline: none;
  background: var(--off-white);
  border: none;
  box-shadow: 0px 0px 4px var(--success);
}

.form-control--invalid label::after,
.form-control--invalid p {
  /* content: '  *'; */
  color: var(--disabled-p);
  font-size: 0.85rem;
  font-weight: 600;
  margin: 0;
  text-align: left;
}
.form-control--invalid p {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 0.25rem;
}

.form-control--invalid input,
.form-control--invalid textarea,
.form-control--invalid select {
  box-shadow: 0px 0px 5px var(--danger-hover) !important;
  border: none;
}
.form-control--disabled input {
  background-color: var(--disabled-bg);
  color: var(--disabled-p);
}

@media (max-width: 968px) {
  .form-control input,
  .form-control select,
  option,
  .form-control input::placeholder,
  .form-control label {
    font-size: 0.85rem;
  }
}
